@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.light-theme {

  --accent: hsl(229, 76%, 66%);

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

/* header section */
.container {
  margin-inline: auto;
  margin: auto;
  padding: 0 15px;
}

header {
  background: #8ee6e9;
}

header .flex-wrapper {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 35px 0;
}

.logo {
  display: none;
  height: 50px;
  width: auto;
}

.login-button {
  display: flex;
}

.cta-button {
  background-color: #fff;
  color: black;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background-color: #8ee6e9;
  color: #fff;
}

.padding-left-20px {
  padding-left: 20px;
}

.light-theme .logo {
  display: block;
}

header .btn-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.theme-btn-mobile,
.nav-menu-btn,
.nav-close-btn {
  background: #8ee6e9;
  color: var(--foreground-tertiary);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
}

:is(.theme-btn-mobile,
  .nav-menu-btn,
  .nav-close-btn):hover {
  background: var(--accent);
  color: var(--white);
}

.theme-btn-mobile ion-icon {
  display: none;
}

.theme-btn-mobile.light .sun,
.theme-btn-mobile.dark .moon {
  display: block;
}

.mobile-nav {
  position: fixed;
  inset: 0;
  background: #8ee6e9;
  padding: 70px 20px;
  overflow: auto;
  overscroll-behavior: contain;
  transform: translateX(100%);
  visibility: hidden;
  transition: 0.5s cubic-bezier(1, 0, 0.30, 0.70);
  z-index: 10;
}

.mobile-nav.active {
  transform: translateX(0);
  visibility: visible;
}

.nav-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile-nav .wrapper {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--action-primary);
}

.mobile-nav .nav-title {
  margin-bottom: 1rem;
}

.mobile-nav .nav-item {
  margin-bottom: 0.5rem;
}

.mobile-nav .nav-link {
  font-size: var(--fs-3);
  color: var(--foreground-secondary);
}

.mobile-nav .nav-link:hover {
  color: var(--accent);
}


/* Banner Section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8ee6e9;
  padding: 50px;
  border-bottom-left-radius: 393% 25vw;
  border-bottom-right-radius: 400% 25vw;
  overflow: hidden;
}

.text-content {
  max-width: 50%;
}

.title {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #fff;
}

.highlight-title {
  color: #ffff02;
}

.description {
  font-size: 18px;
  color: #fff;
}

.image-content {
  position: relative;
  max-width: 50%;
}

.main-img {
  width: 100%;
  border-radius: 15px;
}

/* Text Boxes Styles */
.text-box {
  position: absolute;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.text-box1 {
  top: -20px;
  left: 20px;
}

.text-box2 {
  top: 40px;
  right: -30px;
}

.text-box3 {
  bottom: 45px;
  left: -60px;
}

.text-box4 {
  bottom: -15px;
  right: 120px;
}

/* our mission */
.mission-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  position: relative;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
}

.quote {
  font-size: 100px;
  color: #2e2f80;
  position: absolute;
}

.quote-1 {
  font-size: 100px;
  color: #00d2c6;
  position: absolute;
}

.left-quote {
  top: 0px;
  left: 500px;
}

.right-quote {
  bottom: -15px;
  right: 380px;
  transform: rotate(537deg);
  /* Flip the quote */
}

.content {
  max-width: 600px;
  margin: 0 50px;
}

.title-1 {
  font-size: 35px;
  font-weight: bold;
  /* Bold text */
  color: #2e2f80;
  margin-bottom: 20px;
}

.highlight-1 {
  color: #00d2c6;
}

.content p {
  font-size: 18px;
  line-height: 1.6;
  color: #666666;
  margin: 5px 0;
}

/* Mobile View (Max Width 768px) */
@media (max-width: 768px) {
  .mission-section {
    flex-direction: column;
    padding: 20px 10px;
  }

  .quote {
    font-size: 60px;
  }

  .left-quote {
    top: -20px;
    left: 20px;
  }

  .right-quote {
    bottom: -20px;
    right: 20px;
  }

  .content {
    max-width: 100%;
    margin: 20px 0;
  }

  .title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .content p {
    font-size: 16px;
    margin: 5px 0;
  }
}

/* Small Mobile View (Max Width 480px) */
@media (max-width: 480px) {
  .mission-section {
    padding: 15px 5px;
  }

  .quote {
    font-size: 40px;
  }

  .left-quote {
    top: -30px;
    left: 10px;
  }

  .right-quote {
    bottom: -30px;
    right: 10px;
  }

  .title {
    font-size: 18px;
    /* Smaller title size */
    margin-bottom: 10px;
  }

  .content p {
    font-size: 14px;
    margin: 5px 0;
  }
}

/* section 3 */
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px;
  margin-top: 100px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 15px;
  text-align: center;
  flex: 0 1 calc(25% - 35px);
  max-width: calc(25% - 55px);
  position: relative;
  /* Position for icon */
}

.card h3 {
  font-size: 1.5em;
  color: #2e2f80;
  /* Color for titles */
  margin: 10px 0;
}

.card p {
  color: #666;
  font-size: 12px;
  padding: 15px;
  line-height: 20px;
}

.icon {
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px auto;
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
}

.icon img {
  width: 100px;
}

.meet-button,
.Samples-button,
.Syllabus-button,
.demo-button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 35px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0px 1px 14px 2px rgba(0, 0, 0, 0.1);
  margin-top: auto;
  /* Push buttons to the bottom */
}

.meet-button {
  background: linear-gradient(105.5deg, #F88B3D 19.57%, #F88B3D 78.85%);
  box-shadow: 0px 1px 14px 2px #F88B3D;
}

.Samples-button {
  background: linear-gradient(105.5deg, #29B9E7 19.57%, #29B9E7 78.85%);
  box-shadow: 0px 1px 14px 2px #29B9E7;
}

.Syllabus-button {
  background: linear-gradient(105.5deg, #00CBB8 19.57%, #00CBB8 78.85%);
  box-shadow: 0px 1px 14px 2px #00CBB8;
}

.demo-button {
  background: linear-gradient(105.5deg, #5B72EE 19.57%, #5B72EE 78.85%);
  box-shadow: 0px 1px 14px 2px #5B72EE;
}

/* GGT */
.GGT-title {
  text-align: center;
  margin-top: 60px;
}

.GGT-content {
  line-height: 25px;
  font-size: 15px;
  padding: 16px;
  color: #696984;
}

.text-color-green {
  color: #39d3bf;
}

.text-color-blue {
  color: #4620b1;
}

.font-size-30px {
  font-size: 30px;
}

/* Assessments, Quizzes, Tests */
.software-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

.software-content {
  max-width: 50%;
}

.software-title {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.highlight {
  color: #00c4cc;
}

.software-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #666;
}

.software-list li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.software-list li::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
  color: #00c4cc;
  font-size: 20px;
}

.software-image {
  max-width: 45%;
}

.software-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* team-section */
.team-section {
  padding: 50px 20px;
  /* background-color: #fff; */
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}

.section-description {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 90px;
}

.team-detail {
  flex: 1;
  height: 100%;
  min-width: 300px;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #fafafa;
}

.team-photo {
  flex: 2;
  padding-right: 20px;
}

.team-photo img {
  width: 100%;
  border-radius: 10px;
  margin-top: -50px;
}

.team-info {
  flex: 3;
}

.team-name {
  font-size: 22px;
  color: #333;
  margin: 0px 0 0px;

}

.team-subtitle {
  font-size: 18px;
  color: #00c4cc;
  margin: 10px 0;
}

.team-description {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.team-list {
  flex: 1;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.team-member {
  /* text-align: center; */
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.team-member img {
  width: 100%;
}

.team-member h4 {
  font-size: 11px;
  color: #333;
  margin: 0px 0 0px;
}

.team-member p {
  font-size: 11px;
  color: #666;
  margin: 0px 0 0px;

}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.team-member.active {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* testimonial-section */
.testimonial-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 50px auto;
}

.testimonial-content {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.section-title {
  font-size: 16px;
  color: #888;
  letter-spacing: 2px;
}

.main-title {
  font-size: 28px;
  color: #333;
  margin: 10px 0;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #00c4cc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #00a1a6;
}

.testimonial-carousel {
  flex: 1;
  min-width: 300px;
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 20px;
}

.carousel-item {
  width: 100%;
  margin: 0 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateX(100%);
}

.carousel-item.active {
  opacity: 1;
  transform: translateX(0);
}

.review {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  width: 400px;
}

.rating {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.rating span {
  color: #ffa500;
  margin-right: 10px;
}

.rating a {
  color: #00c4cc;
  text-decoration: none;
  font-weight: bold;
}

.rating a:hover {
  text-decoration: underline;
}

/* Navigation Buttons */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #00c4cc;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #00a1a6;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

@media (max-width: 768px) {
  .software-section {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .software-content,
  .software-image {
    max-width: 100%;
  }

  .software-image {
    margin-top: 20px;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 20px);
    /* Two columns on small screens */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%;
    max-width: 100%;
    margin-top: 60px;
  }
}


@media (min-width: 650px) {

  .container {
    padding: 0 30px;
  }

  .navbar {
    padding: 30px 0;
  }
}


@media (min-width: 1024px) {

  .container {
    max-width: 1250px;
  }

  header .btn-group {
    display: none;
  }

  header .flex-wrapper {
    display: flex;
    gap: 30px;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    gap: 45px;
  }

  .desktop-nav .nav-link {
    font-weight: 700;
    color: #fff;
  }

  .desktop-nav .nav-link:hover {
    color: var(--accent);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .text-content {
    max-width: 100%;
  }

  .image-content {
    max-width: 100%;
    margin-top: 20px;
  }

  .text-box {
    position: static;
    margin: 10px 0;
    font-size: 16px;
  }

  .header {
    flex-direction: column;
    padding: 20px;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .nav-menu ul li {
    margin: 10px 0;
  }

  .auth-buttons {
    flex-direction: column;
    gap: 5px;
  }
}